

label{
	color: #545254;
	font-size: 13px;
	font-weight: bold;
	margin-left: 20px;
	font-family: Arial;
}

.input-text {
	width: 500px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	color: #545254;
}

form dd{
	/*width: 312px;*/
	background: #fbfbfb;
	padding: 4px 10px 10px 10px;
}

form dt{
	/*width: 332px;*/
	background: #fbfbfb;
	margin-top: 10px;
	padding-top: 3px;
}

.input-textarea{
	width: 550px;
	overflow: auto;
	padding: 5px;
}

.input-select{
	
}

.input-file{
	
}

.input-submit{
	
}

.msg {
	
}

.error {
	
}