form{
	margin: 0 auto;
	width: 90%;
}

img.description{
	margin-left: 10px;
}

div.description{
	clear: both;
}

form div.input{
	padding: 6px 22px 9px 9px;
	margin-bottom: 5px;
}

form div.hover{
	background-color: #FFF7C0;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

form div.half{
	width: 50%;
}

form div.left{
	float: left;
}


form div.calendar{
	width: 40%;
	height: 200px;
	background-color: #fff;
	float: left;
	border-right: 1px solid #e6e6e6;
	padding-right: 7px;
	margin-right: 7px;
}

form div.calendar:hover{
	background-color: #fff;
}

form label.optional, form label.required{
	display: block;
	color: #545254;
	font-size: 14px;
	margin-bottom: 5px;
	font-family: Arial;	
}

form label.required{
	font-weight: bold;
}

.cancel{
	color: #aa0000;
}

.cancel:hover{
	text-decoration: none;
}

.input-textarea{
	width: 100%;
	overflow: auto;
	padding: 5px;
}

.input-text {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	color: #545254;
}

.input-select{
	width: 100%;
}

.input-submit{
	font-size: 15px;
	padding: 5px 20px;
}

div.submit{
	border-top: 1px dashed #e6e6e6;
	margin-top: 10px !important;
	padding-left: 20px !important;
	padding-top: 15px !important;
	text-align: left;
}

div.submit:hover{
	background-color: #fff !important;
}

input.milestone-datetime{
	border: 0;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	width: 200px;
}




div.user-assign, div.user-assign-company{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #767676;
}

div.user-assign input, div.user-assign-company input{
	margin-right: 5px;
}

div.user-assign label, div.user-assign-company label{
	margin-right: 15px;
}

div.user-assign{
	padding-top: 5px;
}

div.user-assign-company{
	border-bottom: 1px dashed #e6e6e6;
	padding-top: 15px;
}

div.user-assign label{
	white-space: pre;
	display: inline-block;
	min-width: 120px;
}

div.user-assign-company label{
	font-weight: bold;
}
div.user-assign-company input{
	
}




div.error{
	background-color: #ffdfdf;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);	
}

div.error ul{
	margin-top: 5px;
}

div.error li{
	color: #df0000;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

div.error input{

}

div.error label{
	color: #df0000;
}


