@import url('../css/reset.css');
@import url('../css/menu.css');
@import url('../css/form.css');

@import url('../css/jquery.datepicker.css');
@import url('../css/jquery.multiSelect.css');
@import url('../css/jquery.uploadify.css');

@import url('../css/mybase.modal.css');
@import url('../css/mybase.tooltip.css');

@import url('../css/sekce.team.css');
@import url('../css/sekce.projects.css');
@import url('../css/sekce.milestones.css');

/*
 * -------------------------------
 * Univerzální pravidla - elementy
 * -------------------------------
 */
body {
	background-color: #f8f8f8;
	color: #272644;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-variant: normal;
	text-align: left;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	padding-top: 8px;
	color: #e6eaec;
	float: left;
}

h1 span {
	font-size: 14px;
	font-weight: normal;
	color: #bdc3c5;
}

table{
	border-collapse: collapse;
}

/*
 * -----------------------------
 * Univerzální pravidla - ID
 * -----------------------------
 */
#header{
	background: url('../design/header-bg.png') #f7f7f7;
	height: 64px;
}

#userinfo {
	float: right;
	padding-top: 8px;
}

#userinfo img {
	float: left;
	margin-right: 10px;
}

#userinfo a {
	display: block;
	color: #e6eaec;
	font-size: 11px;
	text-decoration: none;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 1px;
}

#userinfo a.logout {
	color: #6895a0;
	margin-top: 5px;
}

#userinfo a:hover {
	text-decoration: underline;
}

#menu {
	background: #ebebeb;
	height: 80px;
}

#submenu {
	background: #545254;
	height: 40px;
	padding-top: 1px;
}

#main,#main-fixed {
	background-color: #fff;
	padding: 7px;
	margin-top: 10px;	
	width: 99%;
	border: 1px solid #eceaea;
	margin-bottom: 50px;
}

#main-fixed {
	width: 660px;
	float: left;
}

#main h2,#main-fixed h2 {
	color: #ebebeb;
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
}

#title {
	background-color: #545254;
}

#title-links {
	float: right;
	text-align: right;
	font-size: 11px;
	margin: 6px 6px 0 0;
	color: #ebebeb;
	padding: 4px;
}

#title-links a {
	padding: 4px;
	color: #ebebeb;
}

#title-links a:hover {
	color: #fff;
	background: #ebebeb;
	text-decoration: none;
	color: #545254;
}

#obsah {
	padding: 3px;
}

#side {
	width: 245px;
	margin-top: 20px;
	float: right;
}

#side h3 {
	color: #1d4d59;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #ececec;
	padding: 7px 11px;
	font-weight: normal;
	margin-bottom: 10px;
}

#side .block {
	margin-bottom: 30px;
}

#progress-info {
	text-align: center;
	font-size: 11px;
	margin-top: 10px;
}

/*
 * -----------------------------
 * Univerzální pravidla - CLASS
 * -----------------------------
 */
.bar, .bar-project {
	width: 220px;
	border: 1px solid #c9dbe0;
	background: #fff;
	padding: 2px;
}

div.bar>div, .bar-project>div {
	height: 14px
}

.bar-project{
	width: 160px;
}

.wrap940 {
	width: 940px;
	margin: 0 auto;
	min-width: 940px;
}

.msg{
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	font-weight: bold;
	color: #fff;
}

.done{
	background-color: #46c315;
}

.error{
	background-color: #bf0000;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.clear {
	clear: both;
}

.hidden{
	display: none;
}

/*
 * ----------------------------------
 * Vychozi ostylovani tabulky
 * ----------------------------------
 */
table.skin{
	width: 90%;
	font-size: 12px;
	border-bottom: 1px solid #f5f5f5;
	margin: 0 auto;
	margin-top: 30px;
}

table.skin a{
	color: #aa0000;
	text-decoration: none;
}

table.skin a:hover{
	text-decoration: underline;
}

table.skin td{
	vertical-align: middle;
	padding: 5px;
}

table.skin td img{
	padding-top: 3px;
}

table.skin td.small-cell{
	width: 15%;
	text-align: right;
}

table.skin tr{
	background-color: #fff;
}

table.skin tr.even, table.skin tr.even td{
	background-color: #fafafa;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

table.skin tr:hover, table.skin tr:hover td{
	background-color: #fffce3;
}

table.skin th{
	background-color: #e3e7d7;
	color: #13682f;
	padding: 5px 10px;
	font-size: 14px;
	text-align: left;
}