@import url('../css/reset.css');
@import url('../css/menu.css');
@import url('../css/form.css');

@import url('../css/jquery.datepicker.css');
@import url('../css/jquery.multiSelect.css');
@import url('../css/jquery.uploadify.css');

@import url('../css/mybase.modal.css');
@import url('../css/mybase.tooltip.css');

@import url('../css/sekce.team.css');
@import url('../css/sekce.projects.css');
@import url('../css/sekce.milestones.css');
@import url('../css/sekce.people.css');

/*
 * -------------------------------
 * Univerzální pravidla - elementy
 * -------------------------------
 */
body {
	background-color: #f9f9f9;
	color: #2f3030;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-variant: normal;
	text-align: left;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	padding-top: 15px;
	color: #888888;
	float: left;
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table{
	border-collapse: collapse;
}

/*
 * -----------------------------
 * Univerzální pravidla - ID
 * -----------------------------
 */
#header{
	background: url('../design/header-bg.png') #f6f6f6 repeat-x;
	height: 71px;
}

#userinfo {
	float: right;
	margin-top: 15px;
	padding: 0 0 0 15px;
	background: url('../design/delimeter.gif') repeat-y;
	height: 41px;
}

#userinfo img {
	float: left;
	margin: 5px 10px 0 0;
	border: 1px solid #cecece;
}

#userinfo a {
	color: #023147;
	font-size: 11px;
	text-decoration: none;
	display: inline-block;
	margin: 3px 0 0 0;
}


#userinfo a.link {
	color: #0b5c82;
	text-decoration: underline;
	background: url('../design/delimeter.gif') repeat-y;
	padding: 3px 0 0 6px;
	height: 16px;
}

#userinfo p{
	color: #888888;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#userinfo a:hover {
	text-decoration: underline;
}

#menu {
	height: 80px;
}

#mainmenu{
	background: url('../design/mainmenu-bg.png') #e3e3e3 repeat-x;
	height: 39px
}

#submenu {
	background: url('../design/submenu-bg.png') #e8e8e8 repeat-x;
	height: 34px;
}




#main,#main-fixed {
	background-color: #fff;
	padding: 4px;
	margin-top: 10px;	
	width: 99%;
	border: 1px solid #ebebeb;
	margin-bottom: 50px;
}

#main-fixed {
	width: 660px;
	float: left;
}

#main h2,#main-fixed h2 {
	font-size: 17px;
	font-weight: normal;
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 8px 8px 8px 15px;
}

#title {
	background-color: #e2e6eb;
}

#title-links {
	float: right;
	text-align: right;
	font-size: 11px;
	margin: 6px 6px 0 0;
	color: #ebebeb;
	padding: 4px;
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;	
}

#title-links a {
	color: #474849;
	background: url('../design/titlelink-left.png') no-repeat;
	padding: 3px 0px 5px 6px;
	text-decoration: none;
}

#title-links a span{
	background: url('../design/titlelink-right.png') 100% 0 no-repeat;	
	padding: 3px 6px 5px 0px;
}

#title-links a:hover {
	background: url('../design/titlelink-left-hover.png') no-repeat;
}

#title-links a:hover span {
	background: url('../design/titlelink-right-hover.png') 100% 0 no-repeat;
}

#obsah {
	padding: 3px;
}

#side {
	width: 245px;
	margin-top: 20px;
	float: right;
}

#side h3 {
	color: #1d4d59;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #ececec;
	padding: 7px 11px;
	font-weight: normal;
	margin-bottom: 10px;
}

#side .block {
	margin-bottom: 30px;
}

#progress-info {
	text-align: center;
	font-size: 11px;
	margin-top: 10px;
}

/*
 * -----------------------------
 * Univerzální pravidla - CLASS
 * -----------------------------
 */
.bar, .bar-project {
	width: 220px;
	border: 1px solid #c9dbe0;
	background: #fff;
	padding: 2px;
}

div.bar>div, .bar-project>div {
	height: 14px
}

.bar-project{
	width: 160px;
}

.wrap940 {
	width: 940px;
	margin: 0 auto;
	min-width: 940px;
}

.msg{
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	font-weight: bold;
	color: #fff;
}

.done{
	background-color: #46c315;
}

.error{
	background-color: #bf0000;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.clear {
	clear: both;
}

.hidden{
	display: none;
}

/*
 * ----------------------------------
 * Vychozi ostylovani tabulky
 * ----------------------------------
 */
table.skin{
	width: 90%;
	font-size: 12px;
	border-bottom: 1px solid #f5f5f5;
	margin: 0 auto;
	margin-top: 30px;
}

table.skin a{
	color: #aa0000;
	text-decoration: none;
}

table.skin a:hover{
	text-decoration: underline;
}

table.skin td{
	vertical-align: middle;
	padding: 5px;
	height: 25px;
}

table.skin td img{
	padding-top: 3px;
}

table.skin td.small-cell{
	width: 15%;
	text-align: right;
}

table.skin tr{
	background-color: #fff;
}

table.skin tr.even, table.skin tr.even td{
	background-color: #fafafa;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

table.skin tr:hover, table.skin tr:hover td{
	background-color: #fffce3;
}

table.skin th{
	background-color: #e9eef4;
	color: #595959;
	padding: 5px 10px;
	font-size: 14px;
	text-align: left;
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;	
}