/*---------------------------------------
  Menu
 ----------------------------------------*/
ul.navigation {
	width: 100%; /*For KHTML*/
	list-style: none;
	height: 39px;
}

ul.navigation li {
	padding: 0px 1px 0 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
	height: 39px;
}

ul.navigation a {
	color: #a4a4a4;
	padding: 12px 16px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}

/* Hlavni menu - hover */
ul.navigation a:hover,ul.navigation li:hover a,ul.navigation li.iehover a{
	color: #545254;
	text-decoration: underline;
}

/* Aktivni prvek */
ul.navigation li.active {
	height: 39px;

}

ul.navigation li.active a {
	color: #595959;
	background-color: #ecebec;
}

ul.navigation li.active a:hover{
	text-decoration: none;
}




/*---------------------------------------
  Submenu
 ----------------------------------------*/
ul.subnavigation {
	width: 100%; /*For KHTML*/
	list-style: none;
	font-size: 11px;
	height: 34px;
}

ul.subnavigation li {
	margin: 5px 5px 0 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
	
}

ul.subnavigation a {
	color: #888888;
	padding: 5px 8px 6px 8px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/

}

/* Root Menu Hover Persistence */
ul.subnavigation a:hover,ul.subnavigation li:hover a,ul.subnavigation li.iehover a{
	padding-right: 0px;
	color: #fff;
	background: url('../design/submenu-hover-left.png') #bababa no-repeat;		
}

ul.subnavigation a:hover span,ul.subnavigation li:hover a span,ul.subnavigation li.iehover a span{
	background: url('../design/submenu-hover-right.png') 100% 0 no-repeat;
	padding: 5px 8px 11px 0px;
}

/* Active state */
ul.subnavigation li.active {
	height: 34px;
}

ul.subnavigation li.active a {
	padding-right: 0px;
	background: url('../design/submenu-active-left.png') no-repeat;
}

ul.subnavigation li.active a span {
	background: url('../design/submenu-active-right.png') 100% 0 no-repeat;
	padding: 5px 8px 11px 0px;
}

ul.subnavigation li.active a:hover, ul.subnavigation li.active:hover a{
	color: #888888;
}