#modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 900;
}

* html #modal-overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#modal{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: left;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #e6e6e6;
}


#modal table{
	width: 550px;
	float: none;
	margin-top: 0px;
}

#modal .loading{
	text-align: center;
	width: 370px;
}